.head
{
    color : cornflowerblue;
    background-color : black;
}

.cont
{
    color : lightgoldenrodyellow;
    background-color : indigo;
}

.foot
{
    color:cornflowerblue;
    background-color: black;
}