<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'ebc_app/style.css' %}" />
    {% block my_static %}
    {% endblock %}
</head>
<body>
    <div class="head">
        {% block header %}
        {% endblock %}
    </div>
    <div class="cont">
        {% block content %}
        {% endblock %}
    </div>
    <div class="foot">
        {% block footer %}
        {% endblock %}
    </div>
</body>
</html>